<div class="page-header">
  <h3>Brand #<%= @brand.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @brand.name %></dd>

      <dt>Category</dt>
      <dd><%= @brand.category_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/brands" class="btn btn-primary">
        Back
      </a>
      <a href="/brands/<%= @brand.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_brand/<%= @brand.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Brand has many drinks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Drinks
      </li>

      <% @brand.drinks.each do |drink| %>
        <li class="list-group-item">
          <a href="/drinks/<%= drink.id %>">
            <%= drink.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drinks/<%= drink.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drinks/<%= drink.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_drink/<%= drink.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_drink" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for brand_id -->
      <input type="hidden" name="brand_id" value="<%= @brand.id %>">

      <button class="btn btn-block btn-success">
        Create Drink
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
